@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.logo {
  left: 8%;
  top: 4.5%;
  position: absolute;
}

.logo_img {
  width: 100px;
  height: 55px;
}

.menu {
  font-size: 18px;
  font-weight: lighter;
  position: absolute;
  top: 7%;
  right: 7%;
}

a {
  color: black;
}

li {
  display: inline;
  padding: 18px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #15ff49;
}

/* Burger Nav */
.button_container {
  position: fixed;
  top: 6%;
  right: 8%;
  height: 27px;
  width: 26px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 2;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: black;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}

/* burger drop */
.overlay {
  position: fixed;
  background: #15ff49;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 100;
  visibility: visible;
  height: 100vh;
  z-index: 1;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 66px;
  font-weight: 600;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

body {
  font-family: "San Francisco Display", sans-serif;
}

.container {
  margin: 0 auto;
}

.content {
  max-width: 974px;
}

.me {
  margin-top: 150px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 974px;
}

.container h1 {
  font-size: 38px;
  text-align: center;
  margin-top: 60px;
  letter-spacing: -0.03em;
  font-weight: 600;
  margin-bottom: 25px;
}

h2 {
  font-size: 22px;
  text-align: justify;
  line-height: 1.65;
  margin-bottom: 38px;
  letter-spacing: -0.031em;
  font-weight: 300;
  margin-top: 80px;
}

h3 {
  font-family: Helvetica;
  font-size: 22px;
  font-weight: lighter;
  text-align: center;
  padding-top: 35px;
}

h4 {
  font-size: 28px;
  color: black;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 40px;
}

/* footer */
.footer h1 {
  font-size: 30px;
  color: white;
  padding: 18px;
  padding-bottom: 5px;
}

.footer {
  width: 100%;
  background-color: black;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  line-height: 1.5;
}

.socials {
  padding: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

.footer h2 {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
}

.footer ul *:before,
.footer ul *:after {
  color: white;
}

.copyright {
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
/* iPhone 5/SE */
@media screen and (min-width: 320px) and (max-width: 321px) {
  .content {
    width: 270px;
    padding: 0% 3.5% 0% 3.5%;
  }

  .menu {
    display: none;
  }

  .overlay nav {
    height: 60%;
    top: 44%;
    font-size: 50px;
    font-weight: 600;
    display: block;
  }

  .me {
    margin-top: 115px;
  }

  .container h1 {
    font-size: 24px;
    margin-top: 50px;
    letter-spacing: 0;
  }

  h2 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 38px;
    margin-top: 40px;
  }

  h3 {
    font-size: 19px;
    padding-top: 20px;
  }

  h4 {
    font-size: 24px;
    margin-top: 65px;
    padding-bottom: 40px;
  }

  .footer h1 {
    font-size: 28px;
    padding-top: 10px;
  }

  .footer h2 {
    font-size: 15px;
  }

  .socials {
    font-size: 13px;
    padding: 12px;
  }

  .copyright {
    font-size: 13px;
  }
}

/* iPhone X */
@media screen and (min-width: 322px) and (max-width: 413px) {
  .content {
    max-width: 320px;
    padding: 0% 3.5% 0% 3.5%;
  }

  .logo {
    top: 3.5%;
  }

  .logo_img {
    width: 95px;
    height: 52px;
  }

  .menu {
    display: none;
  }

  .button_container {
    position: fixed;
    top: 5%;
  }

  .overlay nav {
    height: 60%;
    top: 44%;
    font-size: 55px;
    font-weight: 600;
    display: block;
  }

  .me {
    margin-top: 115px;
  }

  .container h1 {
    font-size: 26px;
    margin-top: 40px;
    letter-spacing: 0;
  }

  h2 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 38px;
    margin-top: 35px;
  }

  h3 {
    font-size: 19px;
    padding-top: 20px;
  }

  h4 {
    font-size: 24px;
    margin-top: 60px;
    padding-bottom: 40px;
  }

  .footer h1 {
    font-size: 28px;
    padding-top: 10px;
  }

  .footer h2 {
    font-size: 15px;
  }

  .socials {
    font-size: 14px;
    padding: 12px;
  }

  .copyright {
    font-size: 12px;
  }
}

/* iPhone 6/7/8/plus */
@media screen and (min-width: 414px) and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 350px;
  }

  .menu {
    display: none;
  }

  .overlay nav {
    height: 60%;
    top: 44%;
    font-size: 58px;
    font-weight: 600;
    display: block;
  }

  .me {
    margin-top: 120px;
  }

  .container h1 {
    font-size: 26px;
    margin-top: 45px;
    letter-spacing: 0;
  }

  h2 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 38px;
    margin-top: 35px;
  }

  h3 {
    font-size: 19px;
    padding-top: 20px;
  }

  h4 {
    font-size: 28px;
    margin-top: 80px;
  }

  .footer h1 {
    font-size: 30px;
    padding-top: 10px;
  }

  .footer h2 {
    font-size: 16px;
  }

  .socials {
    font-size: 15px;
    padding: 14px;
  }

  .copyright {
    font-size: 12px;
  }
}
/* desktop */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    max-width: 720px;
  }

  .menu {
    display: none;
  }

  h4 {
    font-size: 30px;
  }

  .footer h1 {
    font-size: 32px;
  }

  .footer h2 {
    font-size: 17px;
  }

  .socials {
    font-size: 16px;
    padding: 18px;
  }

  .copyright {
    font-size: 15px;
  }
}

/* larger desktop */
@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 820px;
  }

  .button_container {
    display: none;
  }

  .overlay nav {
    height: 80%;
    top: 50%;
    font-size: 66px;
  }

  .menu {
    top: 6%;
    right: 7%;
  }

  .menu a {
    font-size: 20px;
    color: black;
  }

  .container h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
  }

  h4 {
    font-size: 30px;
  }

  .footer h1 {
    font-size: 32px;
  }

  .footer h2 {
    font-size: 17px;
  }

  .socials {
    font-size: 16px;
    padding: 18px;
  }

  .copyright {
    font-size: 15px;
  }
}
